<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Helvetica', sans-serif;
    }

    textarea {
      width: 350px;
      height: 140px;
      margin: 5px 0 10px;
      font-size: 16px;
    }

    textarea,
    button,
    span {
      display: block
    }

    .longMsg {
      color: red;
    }
  </style>
</head>

<body>

  <div id="app">

    <form>

      <span v-bind:class="{ longMsg: msgLength }">{{ count }} / 30</span>

      <textarea v-model="text" autofocus></textarea>

      <button v-if="count <= 30">Отправить</button>
      <p v-else>Too much text</p>
    </form>

  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        text: '',
        msgLength: false
      },
      computed: {
        count: function () {
          this.text.length > 30 ? this.msgLength = true : this.msgLength = false;
          return this.text.length;
        }
      }
    })
  </script>
</body>

</html>